{
  "presets": ["react", "env"],
  "plugins": [
    [
      "css-modules-transform",
      {
        "extensions": [".css"],
        "extractCss": "./build/combined.css",
        "generateScopedName": "./generateScopedName.js"
      }
    ]
  ]
}
