@media screen and (min-width: 960px) {
  .container {
    padding: 30px
  }
}

.container {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
}

.note-menu-container {
  height: 70px;
  border-radius: 4px 4px 0 0;
  background-color: #f9fafa;
  border-top: 4px solid #39ADD1;
  border-bottom: 1px solid #dadfe3;
}

.markdown-body {
  background-color: white;
  min-height: 400px;
}